


<div class="row">
  <div class="col-sm-6">
    <h1>Course Statuses</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_course_status_path, class: 'btn btn-primary' do %>
    Add New Course Status
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Description</th>



      </tr>
    </thead>

    <tbody>
      <% @course_statuses.each do |course_status| %>
        <%= content_tag :tr, id: dom_id(course_status), class: dom_class(course_status) do %>

            <td><%= link_to course_status.name, course_status %></td>
            <td><%= link_to course_status.description, course_status %></td>




        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
