<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %> Dynamic English 2012 - 2019 | Goetz y Lakin Limitada | Enrique Mac Iver 484, Oficina 65, Santiago de Chile, RM </span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Terms", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</footer>
