<h1>Welcome to Dynamic English!</h1>
<p class="lead">In here you'll be able to check your attendance status, who's your teacher, and to notify classes suspensions.</p>

<h2>Here's our suspensions policy:</h2>
<p>You have a number of allowed recoverable suspensions throughout your course (4 by default). <br> In order to recover a class in the future (at the end of the calendar), you need to notify us until the day before the class takes place until 20:00 (8pm) - Con Aviso<br> If you notify a suspension after that time frame you will lose that class - Sin Aviso.<br> If your teacher cancels a class on the same day, you will be able to do it in the future too (and count it as a Con Aviso) - Teacher Sin Aviso<br> If your teacher cancels a class with anticipation, you will gain an additional Con Aviso - Teacher Con Aviso</p>
